/* Top search bar
 *   Stick it to the top.
 */
:not(#viewport) > #searchform {
    position: fixed !important;
    top: 0 !important;
}

#appbar {
    position: relative !important;
    margin-top: 1em !important;
}

#appbar.hdtb-ab-o {
    margin-top: 0 !important;
}

#ires {
    z-index: 2 !important;
    position: relative !important;
}

.exp-outline {
    left: -16px !important;
    padding: 0 16px !important;
}

#top_nav {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    height: 97px !important;
    width: 100% !important;
    background: white;
    z-index: 3;
    border-bottom: 1px solid #ebebeb !important;
}

.yg51vc {
    height: auto !important;
}

.sfbg {
    box-shadow: none !important;
}

.sfbgg {
    background: white !important;
}

#promos {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    z-index: 200 !important;
}

/* Top navigation with Search links (Web, Images, Maps..)
 *   Place as a side panel to the left.
 */
#hdtb-msb {
    position: fixed !important;
    display: block !important;
    margin-top: 1px !important;
    z-index: 3 !important;
    height: 100% !important;
    min-width: 11em !important;
    top: 76px;
    border-right: 1px solid #ebebeb;
    background: white !important;
}

#rcnt {
    display: flex !important;
    flex-direction: row !important;
}

#bcenter {
    margin-left: 142px !important;
}

.ynJMRd {
    position: initial !important;
    float: none !important;
    width: auto !important;
}

#center_col {
    margin-left: 36px !important;
}

#rhs {
    margin-left: 750px !important;
}

#hdtb-msb-vis {
    margin-left: 0 !important;
}

#hdtb-msb > div:first-child {
    min-width: 0px !important;
    overflow: hidden !important;
    display: block !important;
}

.hdtb-mitem {
    display: block !important;
    height: auto !important;
}

#hdtb-msb-vis .hdtb-mitem > a,
.hdtb-mitem g-popup {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
}

.hdtb-mitem.hdtb-msel {
    border: none !important;
}

#hdtb-msb-vis .hdtb-mitem.hdtb-msel,
#hdtb-msb-vis .hdtb-mitem.hdtb-msel-pre,
#hdtb-msb-vis .hdtb-mitem > a {
    margin: 0 !important;
    padding: 1.5em !important;
    border: none !important;
    border-left: 0px solid !important;
}

.hdtb-mitem g-popup .hdtb-dd-b {
    padding-top: 0 !important;
}

#hdtb-msb div:first-child g-menu-item {
    background: none !important;
}

#cnt {
    padding-top: 0 !important;
}

#irc_bg {
    z-index: 200 !important;
}

#lb > .il8Sef {
    margin-left: 10px !important;
}

.MUFPAc {
    margin-left: 0 !important;
}

/* Search option menus (Country, Language, Date,..)
 *   Placed under search bar.
 */
#hdtbMenus {
    position: fixed !important;
    top: 48px !important;
    display: block !important;
    padding: 0 !important;
    z-index: 4 !important;
    width: auto !important;
}

#hdtb {
    background: white !important;
    margin-top: 0 !important;
    position: static !important;
    z-index: 13 !important;
    padding-bottom: 4px;
    border-bottom: none !important;
}

#hdtb-tls {
    display: none !important;
}

#hdtb.hdtba #hdtbMenus {
    border-bottom: none !important;
}

#sform {
    height: 49px !important;
}

#lb {
    position: fixed !important;
}

/* SafeSearch text
 *   Display under settings button.
 */
#hdtbSum {
    z-index: unset !important;
}

#hdtb-s > .pdswFd {
    position: absolute !important;
    top: 36px !important;
    right: 0 !important;
    margin-right: 30px !important;
    z-index: 2 !important;
}

/**
   Force Collapsed search bar layout
 */
.RNNXgb {
    border-radius: 16px !important;
    height: 32px !important;
    margin: 10px 0 0 !important;
}

.emcav .RNNXgb {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.emcav.emcat .RNNXgb {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

.SDkEP {
    padding-top: 0 !important;
}

.logo {
    padding: 0 32px !important;
}

.doodle {
    margin-top: -4px !important;
}

.gLFyf {
    margin-top: -34px !important;
}

.dRYYxd {
    margin-top: 0 !important;
}

.Tg7LZd {
    height: 32px !important;
    line-height: 32px;
}

.Tg7LZd .FAuhyb {
    height: 20px !important;
    width: 20px !important;
}

.Tg7LZd .gBCQ5d {
    height: 20px !important;
    width: 20px !important;
}

.Tg7LZd .rINcab {
    height: 20px !important;
    width: 20px !important;
}

.Tg7LZd svg {
    height: 20px !important;
    width: 20px !important;
}

.aajZCb {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

.iblpc {
    margin-top: 0 !important;
}

.sbl1 {
    font-size: 14px !important;
}

.sbibod {
    height: 32px !important;
    margin: 10px 0 !important;
    border-radius: 16px !important;
}

.visible-suggestions {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.sbico-c {
    height: 32px !important;
    line-height: 32px !important;
}

.sbib_b {
    padding-top: 0 !important;
}

.gsfi {
    font-size: 14px !important;
    line-height: 32px !important;
}

.gsfs {
    font-size: 14px !important;
}

#logo img {
    height: 28px !important;
    width: 86px !important;
}

#searchform#logocont {
    padding: 17px 34px 0 !important;
}

:not(#viewport) > #searchform > #gb {
    top: 2px !important;
}

li.sbsb_c .sbse {
    padding: 0px 0 !important;
}

.sbdd_a .sbdd_b,
.sbsb_a {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

#gs_st0 {
    line-height: 32px !important;
}

.sbdd_a {
    top: 32px !important;
}

.gsri_a {
    background-size: 20px 20px !important;
    height: 20px !important;
    width: 16px !important;
}

.sbico-c .sbico {
    height: 20px !important;
    width: 20px !important;
}

.lBbtTb {
    width: 20px !important;
}

#gb {
    top: 2px !important;
}

#searchform #logocont {
    padding: 17px 34px 0;
}

#searchform {
    margin-top: 0 !important;
}

.RNNXgb {
    background: #fff !important;
    height: 32px !important;
    border-radius: 16px !important;
    box-shadow: none !important;
    border: 1px solid #dfe1e5 !important;
    margin: 10px 0 0 !important;
}
